
<mat-progress-spinner [mode]="'indeterminate'" *ngIf="(farmsListLoadedSuccess$ | async) === false; else guide"></mat-progress-spinner>
<ng-template #guide>
	<h3>Please select one of your wind farms <br /> with select control above.</h3>
</ng-template>
