<table *ngIf="( farm$ | async) !== undefined" mat-table [dataSource]="( farm$ | async).data" class="mat-elevation-z8">

  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef> No. </th>
	<td mat-cell *matCellDef="let element"> {{element.date | date: 'MMMM' }} </td>
	<td mat-footer-cell *matFooterCellDef class="total">Total</td>
</ng-container>

<ng-container matColumnDef="budget">
	<th mat-header-cell *matHeaderCellDef> Budget, MWh </th>
	<td mat-cell *matCellDef="let element"> {{element.budget}} MWh</td>
	<td mat-footer-cell *matFooterCellDef class="total">{{ getTotal((farm$ | async)).budget | number:'4.0' }}, MWh</td>
	
</ng-container>

<ng-container matColumnDef="released">
	<th mat-header-cell *matHeaderCellDef> Released, MWh </th>
	<td mat-cell *matCellDef="let element"> {{element.produced}} MWh</td>
	<td mat-footer-cell *matFooterCellDef class="total">{{getTotal( farm$ | async ).produced | number:'4.0'}}, MWh</td>
	
</ng-container>

<ng-container matColumnDef="percents">
	<th mat-header-cell *matHeaderCellDef> Percentage, % </th>
    <td mat-cell *matCellDef="let element" [ngClass]="getColor(element.budget, element.produced)"> {{ getPercentageString(element.budget, element.produced) }} </td>
	<td mat-footer-cell *matFooterCellDef class="total">{{ getTotal( farm$ | async ).percentage | number: '0.0-2'}} %</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>