table {
	min-width: 45vw;
}

.color-success {
	color: green;
}

.color-warn {
	color: red;
}

.total {
	font-weight: bold;
}

tr.mat-header-row.ng-star-inserted {
	height: 32px;
	th {

		font-weight: bold;
	}
}