	 <div class="chart-wrapper">
		 <ngx-charts-bar-vertical-2d *ngIf="farm$ | async" 
	 	   [scheme]="colorScheme"
	 	   [results]="farm$ | async | farmToChart " 
	 	   [gradient]="gradient" [xAxis]="showXAxis" 
	 	   [yAxis]="showYAxis"
	 	   [legend]="showLegend" 
	 	   [showXAxisLabel]="showXAxisLabel" 
	 	   [showYAxisLabel]="showYAxisLabel" 
	 	   [xAxisLabel]="xAxisLabel"
	 	   [yAxisLabel]="yAxisLabel" 
	 	   (select)="onSelect($event)">
	 	 </ngx-charts-bar-vertical-2d>
	 </div>
