<mat-drawer-container>
  <mat-drawer #drawer 
    class="mat-elevation-z4" mode="side" [opened]="opened">

    
    <button mat-button *ngFor="let button of linkButtons" [routerLink]="[button.link]" routerLinkActive="router-link-active" >{{ button.displayName }}</button>
  
  </mat-drawer>

  <mat-drawer-content class="page-container">

    <ng-content></ng-content>

  </mat-drawer-content>
</mat-drawer-container>
