.mat-drawer-container,
mat-drawer {
  height: 100%;
}
mat-drawer {
  min-width: 200px;
  // width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
  padding: 100px 0;
}



::ng-deep .mat-drawer-inner-container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}