:host {
  height: 100%;
  padding-top: 64px;
}

mat-toolbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 1000;
  padding-left: 0;

  .hamburger.mat-button {
    height: 100%;
    margin: 0 8px 0 0;
    padding: 0;
  }

  .logo {
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    color: white;
  }

  .group-end {

    display: flex;

    button {
      margin-left: 10px;
      margin-right: 10px;
    }

  }

}

.mat-drawer-container {
  height: 100%;
}

.page-container {
  display: flex;
  padding-top: 65px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

mat-drawer {
  height: 100%;
}

button[disabled^=true] span.mat-button-wrapper {
  color: #999797;
}


/**
 *  Hacks for wind field select styles
 * TODO: create proper select styling
 */

::ng-deep mat-form-field.farm-select {
  font-size: 14px;

  div.mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  mat-select .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0);
  }
}

::ng-deep .mat-form-field-appearance-outline {

  .mat-form-field-infix {
    min-width: 75px !important;
    width: fit-content !important;
    padding: 5px 0px 10px 10px;
  }
  
  
  .mat-form-field-outline-start,
  .mat-form-field-outline-end,
  .mat-form-field-outline-gap {
    color: white;
  }

  .mat-form-field-outline-thick {
    color: white;
  }
}

::ng-deep mat-select {
  width: fit-content !important;
  min-width: 100%;

  .mat-select-value {
    width: fit-content;
    min-width: 75px;
    max-width: 250px;
  }

  .mat-select-placeholder {
    width: fit-content;
    min-width: 50px;
    color: white;
  }

  .mat-select-arrow-wrapper {
    transform: translateY(0) !important;
    padding-left: 7px;
  }

  .mat-form-field-outline {
    display: none !important;
  }

}
