<mat-toolbar color="primary">
  <span class="logo">
    <a href="{{baseUrl}}" style="text-decoration: none; color: white;">Wind powered</a>
  </span>

  <div class="group-end">

    <mat-form-field color="basic" appearance="outline" class="farm-select">
      <mat-select placeholder="Select farm" [disableRipple]="true" 
        [disabled]="farmsListLoading$ | async"
        (selectionChange)="farmSelectHandler($event)">
        <mat-option *ngFor="let farm of farmsList$ | async " [value]="farm.id">
          {{farm.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button mat-button 
        [routerLink]="'/dashboard/farm/' + selectedFarmId + '/chart'"
        (click)="handleLoadFarm()"  
        [disabled]="!selectedFarmId" >
      Apply
    </button>

  </div>

</mat-toolbar>


<app-sidebar [opened]="farmLoadedSuccess$ | async"
  [linkButtons]="sidebarLinks$ | async">
  
  <div class="page-container">

  <ng-template #loading>
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
  </ng-template>


  <router-outlet *ngIf="(farmLoading$ | async) === false; else loading"></router-outlet>
</div>
  </app-sidebar>
  