/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin: 0;
	height: 100vh;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');